<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Gestion XLSX – Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>📊 Gestion XLSX</h1>
    <a href="/projet2"><button>🔍 Recherche iPad</button></a>
    <a href="/projet3"><button>⚙️ Gestion ciblée</button></a>
    <a href="/projet4"><button>🧺 Modifications en masse</button></a>
    <a href="/projet5"><button>📘 Recherche en masse</button></a>
    <a href="/projet6"><button>📤 Génération TO</button></a>
    <a href="/projet7"><button>🧪 Préfixe SERIAL (Projet 7)</button></a>
  </div>

  <footer> Version : <strong>v1.7.1</strong> — Réalisé par <em>NANE Houssem-Eddine (Stagiaire 2025)</em> 🛠️ </footer>

</body>
</html>
